// Banner___________________________

.bnr__container {
  width: 100%;

  background-image: linear-gradient(
    171deg,
    rgba(6, 6, 8, 0.3411764706),
    rgba(22, 20, 30, 0.1098039216),
    rgb(44 37 37 / 34%)
  );
  .typewriter {
    margin-top: 15px;
    height: 100px;

    color: #04d1ff;
    margin-bottom: 35px;
  }
  padding-bottom: 50px;
  .banner {
    width: 80%;
    margin: auto;
    margin-top: 50px !important;
    h2 {
      font-size: 3rem;
      font-weight: 800;
      text-shadow: 5px -2px #8f1492;
      font-style: italic;
      letter-spacing: 3px;
    }
    h4 {
      color: rgb(10, 212, 223);
      font-weight: 600;
      letter-spacing: 1px;
    }
    .row {
      align-items: center;
    }
  }
}
.banner__btn {
  width: 130px;
  padding: 7px 0px;
  margin-right: 20px;
  transition: transform 400ms;
  margin-bottom: 15px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  box-shadow: 0px 2px 2px 0px #248199;

  border: none;
  background-color: #27ae60;
}
.banner__btn:hover {
  transform: scale(1.05);
  background-color: #2b3365;
  box-shadow: 0px 2px 5px 1px #248199;
}
h3 {
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 4px -1px #8f1492;
  font-style: italic;
  letter-spacing: 3px;
  color: white;
}
// About Me___________________

.about__container {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 2% !important;
  margin-top: 4% !important;
  .about {
    margin-top: 50px !important;
    width: 100%;
    margin: auto;
    padding: 16px 0px;
    p {
      text-align: left;
    }

    .about__img {
      width: 300px;
      margin: auto;
      border: 1px solid rgba(9, 84, 9, 0.356);
      border-radius: 20px;
      background-image: linear-gradient(14deg, #5193866e, #418f25, transparent);
      text-align: center;
      transform: rotate(-5deg);
      position: relative;
      margin-bottom: 40px !important;
      transition: 800ms all;
    }
    img {
      width: 100%;
      transform: rotate(10deg);
      transition: 800ms all;
      border-radius: 20px;
      mask-image: content;
    }
    .about__img:hover {
      transform: rotate(0deg);
      cursor: pointer;
      img {
        transform: rotate(0deg);
      }
    }
  }
}

// Skills ________________________________
.skill {
  width: 80%;
  margin: auto;
  padding-top: 5%;
  margin-top: 5%;
  h3 {
    text-align: center;
  }
}
.skill__card {
  margin-top: 50px;
}
.skill__details {
  box-shadow: 0px 0px 21px -2px black;
  padding-top: 20px;
  border-radius: 20px;
  padding-bottom: 50px;
  height: 90%;
  transition: 500ms all;
  .col {
    margin-bottom: 30px;
  }
  h5 {
    text-align: center;
    color: rgb(10, 212, 223);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .skills__info {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin-left: 10%;

    svg {
      color: #248199;
    }
  }
}
.skill__details:hover {
  transform: scale(1.05);
}
// Projects____________________

.projects {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 7% !important;
  padding-top: 3% !important;
  .container {
    margin-top: 60px;
    width: 90%;
    padding: 0;
    position: relative;
    max-height: 380px;
    border-radius: 20px;
    overflow: hidden;
    transition: 500ms all;

    box-shadow: 0px 15px 2px 5px #454e56;
    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: 500ms all;
      background-color: rgba(0, 0, 0, 0.281);
      .content__item {
        justify-content: center;
        display: flex;

        margin-top: 80%;
        align-items: center;
      }
      svg {
        font-size: 50px;
        background-color: #2b3365;
        width: 17%;
        height: 17%;
        margin: 10px;
        padding: 4%;
        border-radius: 50%;
        transition: 500ms all;
      }
      svg:hover {
        background-color: #27ae60;
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    .content:hover {
      cursor: pointer;
      opacity: 1;
    }
    .content2 {
      position: absolute;
      bottom: 0;
      padding: 1px;
      background-color: #454e56ee;

      display: block;
      transition: 500ms all;
      color: white;
      h5 {
        font-weight: bold;
        margin-top: 5px;
        color: rgb(10, 212, 223);
      }
      p {
        font-weight: 400;
      }
    }

    img {
      width: 100%;
      transition: all 10s ease;
    }
  }
  .container:hover img {
    transform: translateY(-60%);
    cursor: pointer;
  }
  .container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
  }
  .container:hover .content2 {
    display: none;
  }
}

// Contact_________________________

.contact {
  width: 80%;
  margin: auto;
  margin-top: 9% !important;
  padding-top: 3% !important;
  text-align: center;
  .row {
    align-items: center;
  }
  .form {
    input {
      width: 100%;
      margin: 8px;
      padding: 10px;
      border-radius: 10px;
    }
    textarea {
      width: 100%;
      border-radius: 10px;
      margin: 8px;
      padding: 10px;
    }
    .sub__btn {
      font-weight: 500;
      color: white;
      background-color: #27ae60;
      border: none;
      transition: 300ms;
      box-shadow: 0px 2px 2px 0px #248199;
    }
    .sub__btn:hover {
      font-weight: 500;
      background-color: #2b3365;
      box-shadow: 0px 2px 5px 1px #248199;
    }
    @media screen and (max-width: 1080px) and (min-width: 950px) {
      input {
        margin: 5px;
        padding: 8px;
      }
      textarea {
        margin: 5px;
        padding: 8px;
      }
    }
    @media screen and (max-width: 950px) and (min-width: 768px) {
      input {
        margin: 3px;
        padding: 5px;
      }
      textarea {
        margin: 3px;
        padding: 5px;
      }
    }
  }
}
// Navbar styling____________

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10%;
  width: 100%;
  overflow: hidden;
  // right: 10px;
  a {
    color: #aebac8;
    font-size: 26px;
    padding: 1rem;
    width: 55px;
    display: flex;
    height: 55px;
    background-color: #454e56;
    border-radius: 50%;
    margin: 10px;
  }
  a:hover {
    color: white;
    background-color: #27ae60;
  }
  .active {
    color: white;
    background-color: #27ae60;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    overflow: hidden;
    a {
      padding: 0.5rem !important;
      width: 45px;
      height: 45px;
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 850px) {
  .nav {
    overflow: hidden;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    bottom: 0;
    top: auto;
    background-color: #2a2e35;
    z-index: 11;
  }
  .home {
    margin-bottom: 65px;
  }
}

// Social Icons______________

.socila__icons {
  text-align: right;
  // margin-bottom: 40px;
  margin-right: 10px;
  svg {
    width: 25px;
    background-color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 20%;
    height: 25px;
    opacity: 0.6;
  }
  svg:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

// Footer______________
.footer {
  background-color: rgb(3, 12, 28);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  p {
    margin: 0px;
    font-size: 14px;
    color: gray;
  }
}
